<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cmu.banana.classdiscuz" >

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:name=".app.ApplicationSingleton"
        android:allowBackup="true"
        android:icon="@drawable/classdiscuz_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBmg_RHvFCNEHtNSpLj5ACCoWyVr8tOkXE"/>

        <activity android:name=".ui.FrontpageActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.AddCourseActivity" >
        </activity>

        <activity android:name=".ui.AddCourseListActivity" >
        </activity>

        <activity android:name=".ui.CourseInfoActivity" >
        </activity>

        <activity android:name=".ui.DeleteCourseActivity" >
        </activity>

        <activity android:name=".ui.FocusActivity" >
        </activity>

        <activity android:name=".ui.HomePageActivity">
        </activity>

        <activity android:name=".ui.LoginActivity">
        </activity>

        <activity android:name=".ui.SelfprofileActivity" >
        </activity>

        <activity android:name=".ui.SignUpActivity" >
        </activity>

        <activity android:name=".ui.ViewOthersProfileActivity" >
        </activity>


    </application>

</manifest>
